{% extends 'base.html' %}
{% block title %}<title>{{ product.title }}</title>{% endblock %}
{% load static %}

{% block content %}
    <!-- Single Products -->
    <div class="small-container single-product">
        <div class="row">
            <div class="col-2">
                <img src="{{ product.image.url }}" width="100%" id="ProductImg">
            </div>
            <div class="col-2">
                <p>Home / {{ product.category }}</p>
                <h1>{{ product.title }}</h1>
                <h4>{{ product.price }}</h4>

                {% if user.is_authenticated %}
                    <form method="post" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="quantity" value="1">  <!-- Default quantity -->
                        <button type="submit" class="btn">Add To Cart</button>
                    </form>
                {% else %}
                    <div class="container" style="text-align: center; padding: 10px; border-radius: 5px; background-color: #9aea64d1; color: white; border: none; cursor: pointer; margin-bottom: 20px;">
                        <p >Please <a href="{% url 'show_accounts' %}" style="font-weight: 600;">log in</a> or <a href="{% url 'show_accounts' %}" style="font-weight: 600;">register</a> to add this product to your cart.</p>
                    </div>
                    <form method="post" action="{% url 'show_accounts' %}">
                        {% csrf_token %}
                        <input type="hidden" name="quantity" value="1">  <!-- Default quantity -->
                        <button type="submit" class="btn">Add To Cart</button>
                    </form>
                {% endif %}

                <h3>Product Details <i class="fa fa-indent"></i></h3>
                <br>
                <p>{{ product.content }}</p>
            </div>
        </div>
    </div>
    
    <!-- title -->
    <div class="small-container">
        <div class="row row-2">
            <h2>Related Products</h2>
            <p>View More</p>
        </div>
    </div>
    
    <!-- Products -->
    <div class="small-container">
        <div class="row">
            <div class="col-4">
                <img src="{% static 'images/product-9.jpg' %}">
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>₹ 50.00</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/product-10.jpg' %}">
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>₹ 50.00</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/product-11.jpg' %}">
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>₹ 50.00</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/product-12.jpg' %}">
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>₹ 50.00</p>
            </div>
        </div>
    </div>
{% endblock %}
